@using ASE.Entities
@using ASE.Common
@model List<ASE.Entities.StallEntity> 

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center-table">
	<div class="center-cell">
		<div id="landing" class="margin-auto width760 height-full scroll">
			<h1 class="text-center noselect primary-color whitespace">Where do you wish to</h1>
			<h1 class="text-center noselect primary-color underline">eat</h1>
			<h1 class="text-center noselect primary-color">?</h1>
			<div class="text-center margin-top-large relative">
				@for (int i = 0; i < Model.Count; i++)
				{
					var img = (Model[i].Logo != null) ? String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model[i].Logo)) : "";
					<div class="browse-item" onclick="">
						<div class="browse-img">
							<img src="@img" />
						</div>
						<div class="browse-text">
							<a href="/Browse/Dishes?StallId=@Model[i].ID"><h5>@Model[i].Name</h5></a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

<div id="itemlist">
	@Html.Partial("~/Views/Browse/_ItemList.cshtml", new List<OrderEntity>())
</div>

		   	<script type="text/javascript">
	$(document).ready(function () {
		function refresh() {
			setTimeout(function () {
				$.ajax({
					type: "GET",
					url: "/Browse/RefreshList"
				})
					.done(function (partialViewResult) {
						$('#itemlist').html(partialViewResult);
					});
				refresh();
			}, 10000);
		};
		refresh();
	});
</script>