@using ASE.BL
@using ASE.Entities
@using ASE.Common
@model List<DishEntity> 

@{
	var StallID = Request.Params["StallId"];
	var _stallmanager = new StallManager();
	string title = "No dishes found!";
	if (Model.Count > 0){
		Stall stall = _stallmanager.GetStallByIDObject(new Guid(StallID));
		title = stall.Fields.Name;
		Model.Sort((y, x) => x.Price.CompareTo(y.Price));
	}
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="center-table">
		<div class="center-cell">
			<div id="landing" class="margin-auto width760 height-full scroll">
				<h1 class="text-center noselect primary-color">@title</h1>
				<div class="margin-top-large">
					<a href="~/Staff/CreateDish?StallId=@StallID" class="btn btn-large">Create Dish</a>
				</div>
				<div class="text-center margin-top-large clearfix relative">
					@for (int i = 0; i < Model.Count; i++)
					{
						var img = (Model[i].Photo != null) ? String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model[i].Photo)) : "";
						<div class="browse-item" onclick="">
							<div class="browse-img">
								<img src="@img" />
							</div>
							<div class="browse-text">
								<a href="/Staff/RemoveDish?DishId=@Model[i].ID"><h5>$@Model[i].Price @Model[i].Name</h5></a>
							</div>
						</div>
					}
				</div>
				<div class="fullwidth text-center margin-top relative">
					<a href="/Staff/Index" class="btn btn-large">Return</a>
				</div>
			</div>
		</div>
	</div>