@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center-table">
    <div class="center-cell">
        <div class="aligncenter width740">
            <h1 class="inline-block noselect primary-color">Oops - we couldn't find what you were looking for!</h1>
        </div>
    </div>
</div>