
/* DEFAULT COLORS */
.fff-bg { background-color: #fff; }
.fff { color: #fff; }
.white-bg { background-color: #f3f3f3; }
.white { color: #eee; }
.primary-color-bg { background-color: #004960; }
.primary-color { color: #004960; }
.secondary-color-bg { background-color: #007399; }
.secondary-color { color: #007399; }
.tertiary-color-bg { background-color: #003344; }
.tertiary-color { color: #003344; }


/* BASICS */
html { min-height: 100vh; overflow: hidden; }
body { width: 100vw; height: 100vh; margin: 0; font-family: Montserrat, sans-serif; font-weight: 300; color: #222; }


/* CSS RESET */
h1, h2, h3, h4, h5, span, p { padding: 0; margin: 0; font-weight: 300; }
body, span, p { font-size: 0.85em; }
input, select { font-family: inherit; }
table { width: 100%; }
table th { text-align: left; }
textarea { padding: 8px; resize: none; background-color: #f6f6f6; border: 1px solid #999; }

/* Headers */
h1, h2, h3 { display: inline-block; }
h1 { font-size: 2.6em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.4em; line-height: 2em; }

/* WINDOW */
.window { height: 100%; position: relative; }
.window-content { display: block; float: left; width: 100%; height: 100vh; overflow: auto; font-family: 'Open Sans', sans-serif; font-weight: 300; }

/* ELEMENT CENTERING */
.center-table { display: table; position: absolute; width: 100%; height: 100%; }
.center-cell { display: table-cell; vertical-align: middle; }

/* BUTTON */
.btn { background-color: transparent; min-width: 60px; border: 2px solid #004960; color: #004960; text-decoration: none; padding: 7px; display: inline-block; text-align: center; cursor: pointer; }
.btn:hover { color: #f3f3f3; background-color: #004960; }
.btn-large { min-width: 100px; padding: 12px; }
.btn-filled { background-color: #004960; color: #f3f3f3; }

/* Landing */
#landing { text-align: center; }

/* Forms */
.form-small { max-width: 720px; }

/* Browse */
.browse-item { width: 229px; height: 229px; border: 1px solid #ddd; background-color: #fff; float: left; margin: 8px; cursor: pointer; }
.browse-item:hover { border-color: #007399; }
.browse-img { width: 100%; height: calc(100% - 50px); background-color: #bbb; }
.browse-text { padding: 0 12px; }
.browse-text a { text-decoration: none; }
.browse-text h5 { height: 50px; text-align: left; color: #333; line-height: 50px; vertical-align: central; }

/* Browse Item List */
.itemlist-container { position: absolute; top: 0; right: 0; width: 180px; padding: 10px; background-color: rgba(0,0,0,0.10); border-radius: 10px; border: 1px solid #ccc; margin: 8px 10px 0 0; }
.itemlist-container h4 { margin-bottom: 6px; }
.itemlist-container h5 { line-height: 180%; }
.itemlist-container .underline { margin-bottom: 14px; }

/* Popup */
.bg-fader { width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.6); position: absolute; z-index: 999; }

/* Pickup Time */
.datetime-form { background-color: #f3f3f3; width: 220px; padding: 20px; }
.datetime-form input.datetime { height: 32px; margin-top: 16px; }
.datetime-form input[type="submit"] { display: block; }

/* Order List */
.orderlist-header { background-color: #004960; color: #fff; }
.orderlist-header th { padding: 6px; }
.orderlist-entry { background-color: #fff; }
.orderlist-entry th { font-weight: normal; padding: 0 6px; }
th.yellow { background-color: rgba(210,180,0, 0.5); }
th.red { background-color: rgba(250,30,0, 0.6); }

.underline { text-decoration: underline #007399 solid; }
.whitespace { margin-right: 8px; }
.bold { font-weight: bold !important; }
.txt-right { text-align: right; }

header { background-color: transparent !important; position: absolute; top: 0; z-index: 999; }

.btn-white { background-color: rgba(255,255,255,0.7); border-color: transparent; }
.btn-white:hover { background-color: #f3f3f3; border-color: #f3f3f3; color: #004960; }
.btn-filled { background-color: #007399; border-color: #007399; }
.btn-filled:hover { background-color: #004960; border-color: #004960; }

.landing-bg { background-color: rgba(0,73, 99, 0); }
.landing-header { position: relative; z-index: 1; width: 100%; height: 100%; /*background-image: url(../Images/Landing/header.jpg);*/ background-position: center; background-repeat: no-repeat; background-size: cover; }
.landing-container { max-width: 920px; margin: auto; margin-top: 26px; }

.col2 { width: 50%; display: block; float: left; }
.col2.col-big { width: 55%; }
.col2.col-small { width: 45%; }
.col3 { width: 31%; display: block; float: left; }

.footer { line-height: 200%; }

.margin-top { margin-top: 20px; }
.margin-top-large { margin-top: 60px; }
.margin-top-xlarge { margin-top: 120px; }
.padding-top { padding-top: 20px; }
.padding-top-large { padding-top: 60px; }
.padding-top-xlarge { padding-top: 110px; }

/* PROPERTIES (KEEP AT BOTTOM!) */
.scroll { overflow-y: auto; }
.margin-auto { margin: auto; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-danger { color: red; }
.link-noshow { color: inherit; text-decoration: none; }
.aligncenter { margin-left: auto; margin-right: auto; }
.padding10 { padding: 10px; }
.padding20 { padding: 20px; }
.margin20 { margin: 20px; }
.margin-top { margin-top: 20px; }
.margin-bottom { margin-bottom: 10px; }
.block { display: block; }
.fill { width: 100%; height: 100%; }
.relative { position: relative; }
.hidden { visibility: hidden; }
.float { float: left; }
.float-right { float: right; }
.height100 { height: 100px; }
.height250 { height: 250px; }
.height300 { height: 300px; }
.height-full { max-height: calc(100vh - 100px); }
.width300 { width: 300px; }
.width360 { width: 360px; }
.width420 { width: 420px; }
.width500 { width: 500px; }
.width740 { width: 740px; }
.width760 { width: 760px; }

/* Form Layout */

/* PAGE CONTAINER */
.page-container { max-width: calc(100% - 60px); padding: 30px; border: 1px solid #ccc; background-color: #fff; }
.page-container h2 { margin-bottom: 20px; }

/* BACKGROUNDS */
.background { width: 100vw; height: 100vh; position: absolute; }

/* CLEARFIX */
.clearfix:after { content: ""; display: table; clear: both; }

/* INPUT GROUP */
.input-group, .field { margin-bottom: 16px; position: relative; }
.input-group-addon { width: 36px; height: 100%; height: 36px; background-color: #ddd; position: absolute; top: 0; left: 0; z-index: 2; }
.input-group-addon .menu-icon { width: 18px; height: 18px; text-align: center; font-size: 1.2em; color: #004960; }
.input-group input { position: absolute; width: calc(100% - 50px); max-width: calc(100vw - 108px); height: 32px; padding-left: 44px; top: 0; left: 0; z-index: 1; }

input { border: 1px solid #ccc; }
input:focus { border-color: #004960; }


/* COLUMNS */
.col2 { display: block; float: left; width: 50%; }
.col3 { display: block; float: left; width: 33.3%; }
.col4 { display: block; float: left; width: 25%; }

/* SIZES */
.width300 { width: 300px; }
.width400 { width: 400px; }
.width500 { width: 500px; }
.width600 { width: 600px; }


/* PROPERTIES */
.no-padding { padding: 0 !important; }
.no-padding-x { padding-left: 0; padding-right: 0; }
.no-padding-y { padding-top: 0; padding-bottom: 0; }
.no-margin { margin: 0 !important; }
.no-margin-x { margin-left: 0; margin-right: 0; }
.no-margin-y { margin-top: 0; margin-bottom: 0; }
.relative { position: relative; }
.fullwidth { width: 100%; }
.inline-block { display: inline-block; }
.underline { text-decoration: underline; }
.tooltip { text-decoration: underline #004960 dashed; }
.bold { font-weight: 600; }
.pointer { cursor: pointer; }
.tall-font { line-height: 200%; }
.transparent { background-color: transparent !important; }
.text-center { text-align: center; }
.align-right { text-align: right; }
.margin-auto { margin-left: auto; margin-right: auto; }
.aligncenter { position: relative; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.tx { text-align: center; }
.paragraph { margin-bottom: 30px; }
.hidden { display: none; }
.float { float: left; }
.float-right { float: right; }
.vertical-align { display: inline-block; vertical-align: top; }
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }