@{ 
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="landing-header">
	<div class="center-table">
		<div class="center-cell">
			<div id="landing" class="aligncenter width740">
				<h1 class="text-center noselect primary-color whitespace">Pre-order your lunch</h1>
				<h1 class="text-center noselect primary-color underline">online</h1>
				<div class="text-center margin-top-large">
					<a href="/Account/Login/" class="btn btn-large btn-white">Login</a>
					<a href="/Account/Register/" class="btn btn-large btn-filled">Register</a>
				</div>
			</div>
		</div>
	</div>
</div>